## Python Data Structures and Boolean 

- String functions
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### String functions

In [4]:
my_str='Nayan Verma'

In [5]:
my_str.istitle()

True

In [6]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
True or True

True

In [11]:
str_example='Hello World'
my_str='Nayan'

In [12]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, amd has ordered sequence of elements. 
Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [13]:
type([])

list

In [14]:
# Way1 to initialize a list
lst_example=[]

In [15]:
type(lst_example)

list

In [16]:
# Way 2 to initialize a list
lst=list()

In [17]:
type(lst)

list

In [18]:
# list can have heterogenous data items.
lst=['Mathematics', 'chemistry', 100, 20.023,False]

In [19]:
len(lst)

5

In [20]:
type(lst)

list

In [21]:
# List comprehension
squares = [x**2 for x in range(1, 6)]
squares

[1, 4, 9, 16, 25]

### List Methods
Sure! Here are the commonly used Python list methods along with their syntax:

1. `append()`: Adds an element to the end of the list.
   Syntax: `list.append(element)`

2. `extend()`: Extends the list by appending elements from an iterable.
   Syntax: `list.extend(iterable)`

3. `insert()`: Inserts an element at a specified position.
   Syntax: `list.insert(index, element)`

4. `remove()`: Removes the first occurrence of a specified element.
   Syntax: `list.remove(element)`

5. `pop()`: Removes and returns the element at a specified position (index). If no index is provided, it removes and returns the last element.
   Syntax: `list.pop([index])`

6. `clear()`: Removes all elements from the list.
   Syntax: `list.clear()`

7. `index()`: Returns the index of the first occurrence of a specified element.
   Syntax: `list.index(element[, start[, end]])`

8. `count()`: Returns the number of occurrences of a specified element.
   Syntax: `list.count(element)`

9. `sort()`: Sorts the elements of the list in ascending order.
   Syntax: `list.sort(key=None, reverse=False)`

10. `reverse()`: Reverses the order of the elements in the list.
    Syntax: `list.reverse()`

11. `copy()`: Returns a shallow copy of the list.
    Syntax: `list.copy()`

These are some of the most commonly used list methods in Python. It's important to note that the above syntax is just a representation, and you should replace `list` with the name of your actual list variable.

### Append

In [22]:
#.append is used to add elements in the list
lst.append("Nayan")

In [23]:
lst.append(["John","Bala"])

In [24]:
lst

['Mathematics', 'chemistry', 100, 20.023, False, 'Nayan', ['John', 'Bala']]

In [25]:
##Indexing in List
lst[6]

['John', 'Bala']

In [26]:
lst[1:6]

['chemistry', 100, 20.023, False, 'Nayan']

### Insert

In [27]:
## insert in a specific order

lst.insert(2,"Nayan")

In [28]:
lst

['Mathematics',
 'chemistry',
 'Nayan',
 100,
 20.023,
 False,
 'Nayan',
 ['John', 'Bala']]

In [29]:
lst.append(["Hello","World"])

In [30]:
lst

['Mathematics',
 'chemistry',
 'Nayan',
 100,
 20.023,
 False,
 'Nayan',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [31]:
lst=[1,2,3]

In [32]:
lst.append([4,5])

In [33]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [34]:
lst=[1,2,3,4,5,6]

In [35]:
lst.extend([8,9])

In [36]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [37]:
lst=[1,2,3,4,5]

In [38]:
sum(lst)

15

In [39]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [40]:
lst.pop()

5

In [41]:
lst

[1, 2, 3, 4]

In [42]:
lst.pop(0)

1

In [43]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [44]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [45]:
#length:Calculates total length of List
len(lst)

6

In [46]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [47]:
##Min and Max
min(lst)

1

In [48]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.
 
Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [49]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [50]:
set_var={1,2,3,4,3}

In [51]:
set_var

{1, 2, 3, 4}

In [52]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [53]:
## Inbuilt function in sets

set_var.add("Hulk")

In [54]:
print(set_var)

{'Hulk', 'IronMan', 'Hitman', 'Avengers'}

In [55]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [56]:
set2.intersection_update(set1)

In [57]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [58]:
##Difference 
set2.difference(set1)

set()

In [59]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [60]:
## Difference update

set2.difference_update(set1)

In [61]:
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [62]:
dic={}

In [63]:
type(dic)

dict

In [64]:
type(dict())

dict

In [65]:
set_ex={1,2,3,4,5}

In [66]:
type(set_ex)

set

In [67]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [68]:
type(my_dict)

dict

In [69]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [70]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [71]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [72]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [73]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [74]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [75]:
my_dict['Car1']='MAruti'

In [76]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [77]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [78]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [79]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [80]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [81]:
## create an empty Tuples

my_tuple=tuple()

In [82]:
type(my_tuple)

tuple

In [83]:
my_tuple=()

In [84]:
type(my_tuple)

tuple

In [93]:
my_tuple=("Nayan","Ankur","John")

In [94]:
my_tuple=('Hello','World')

In [95]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [96]:
type(my_tuple)

tuple

In [97]:
## Inbuilt function
my_tuple.count('Nayan')

0

In [98]:
my_tuple.index('Nayan')

ValueError: tuple.index(x): x not in tuple