# String Formatting
> 1. Using the % operator
> 2. Using the str.format() method
> 3. Using f-strings (formatted string literals)

### Using the % operator

In [1]:
import pandas as pd
import seaborn as sns
# ^^^ pyforest auto-imports - don't write above this line
name = "Nayan"
age = 20
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

My name is Nayan and I am 20 years old.

### Using the str.format() method

In [2]:
formatted_string = "My name is {} and I am {} years old".format(name,age)
formatted_string

'My name is Nayan and I am 20 years old'

### Using f-strings (formatted string literals)

In [3]:
formatted_string = f"My name is {name} and I am {age} years old."
formatted_string

'My name is Nayan and I am 20 years old.'

# Iterable vs Iterators

> An `iterable` is any object in Python that can be looped over, meaning it can be used in a for loop. 
> > eg. list, dictionary, tuple

---

> - An `iterator`, on the other hand, is an object that represents a stream of data. 
> - It is used to iterate over the elements of an iterable sequentially. 
> - Iterators provide a way to access the elements of an iterable one at a time, without needing to store all the elements in memory.
> - Iterators have two main methods: __iter__() and __next__()

In [4]:
numbers = [1, 2, 3, 4, 5]
numbers_iterator = iter(numbers)

print(next(numbers_iterator))
print(next(numbers_iterator))
print(next(numbers_iterator))

1
2
3

# Pyforest
###### Import all Important libraries for data science
> Pyforest is a Python library designed to simplify the process of importing and working with popular data science libraries. It aims to provide a convenient way to automatically import commonly used libraries without the need to manually import them one by one.

`pip install pyforest`

In [1]:
data = pd.read_csv('wine.csv')
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [2]:
active_imports()

import pandas as pd

['import pandas as pd']